@model IEnumerable<RentingWebsite.Models.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shop</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@*<table class="table">*@
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FitProduct.FitProductTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image.ImageTitle)
        </th>
        <th></th>
    </tr>*@


    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FitProduct.FitProductTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image.ImageTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>*@
@*</table>*@




    <!--Products-->
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-sm-4">

           
            @*<img src="/content/Images/@Html.DisplayFor(modelItem => item.Image.ImageURL)" alt="@item.Image.ImageTitle" />*@
            <p>@Html.DisplayFor(modelItem => item.Title)</p>
            <p>@Html.DisplayFor(modelItem => item.Price)</p>
            @*<p>@Html.DisplayFor(modelItem => item.FitProduct.FitProductTitle)</p>*@
        </div>
    }

    </div>


    








