@model string
@{ 
    // quicksearch or default
}

<div id="filteringcontainer" class="filtering-container vama-filtering-@Model">
    @using (Html.BeginForm("Filtered", "Shop", FormMethod.Get))
    {
        @Html.Hidden("colors")
        @Html.Hidden("types")
        @Html.Hidden("sizes")
        @Html.Hidden("fits")

        <div class="filtering-options">
            @renderDropdown("Type", "type-options")
            @renderDropdown("Color", "color-options")
            @renderDropdown("Size", "size-options")
            @renderDropdown("Fit", "fit-options")
        </div> <br />

        if (Model == "quicksearch")
        {
            <input type="submit" class="btn btn-success vama-button" value="Quick search" />
        }
    }
</div>

@helper renderDropdown(string title, string optionsId) { 
<div class="dropdown square">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        @title
        <span class="caret"></span>
    </button>
    <ul id="@optionsId" class="dropdown-menu" aria-labelledby="dropdownMenu1">
    </ul>
</div>    
}
