@using RentingWebsite.Models


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/bootstrap")
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Homepage.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Filtering.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Shop.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Shared.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

    @{
        var FolderName = "";
        var FileName = "";
        var ViewName = "";
        if (Session["LoggedUser"] == null)
        {
            ViewName = "Login";
            FileName = "Index";
            FolderName = "Login";

        }
        else
        {
            ViewName = "Log Out";
            FileName = "LogOut";
            FolderName = "Login";
        }
    }

    @{
        var invertedNavigationColors = ViewBag.InvertedNavigation == true;
    }
    <div class="navbar @(invertedNavigationColors == true ? "vama-navigation-inversed" : "vama-navigation") navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VAMA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Shop", "Index", "Shop", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Impact", "Index", "Impact", new { area = "" }, null)</li>
                    <li>
                        <a href="@Url.Action("Index", "Basket", new { returnUrl = "/shop"})">
                            @{
                                var cart = (Basket)Session["Cart"];
                            }
                            @if (cart != null && cart.Lines != null)
                            {
                                <span class="badge">@cart.Lines.Count</span>
                            }
                            <i class="fas fa-shopping-bag"></i>
                        </a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-success vama-button navbar-btn"
                                onclick="location.href = '@Url.Action(FileName, FolderName)';">
                            @ViewName
                        </button>
                    </li>
                    @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                </ul>
            </div>
        </div>
    </div>

    @RenderSection("Header", false)

    <div class="container">
        @RenderBody()
    </div>

    <footer class="navbar-static-bottom">
        <div class="container">
            <div class="row">
                <div class="col col-md-2 col-md-offset-3">
                    <h4>Presentation</h4>
                    <ul>
                        <li>Customers</li>
                        <li>Products</li>
                    </ul>
                </div>
                <div class="col col-md-2">
                    <h4>Information</h4>
                    <ul>
                        <li>Customers</li>
                        <li>Products</li>
                    </ul>
                </div>
                <div class="col col-md-2">
                    <h4>Let's get social</h4>
                    <ul>
                        <li>Customers</li>
                        <li>Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/site.js"></script>
</body>
</html>
