@using RentingWebsite.Models

@model IEnumerable<RentingWebsite.Models.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--View Cart button-->
@*@using (Html.BeginForm("Index", "Cart"))
{
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    <input type="submit" class="btn btn-success" value="View Cart" />
}*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="products">
                <img src="@Url.Content(item.ImageProduct)" class="img-responsive"/>
            </div>
            <div class="text-center">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="text-center">
                @Html.DisplayFor(modelItem => item.Price)
            </div>
            <a href="@Url.Action("Details", "Products", new { id = item.ProductId })" >Gogogog</a>
        </div>
    }
</div>


