@model IEnumerable<RentingWebsite.Models.Product>
@using RentingWebsite.Models
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--View Cart button-->
@*@using (Html.BeginForm("Index", "Cart"))
    {
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="View Cart" />
    }*@

<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Views/Filtering/Form.cshtml", "default")
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        var detailsUrl = Url.Action("ProductDetails", "Products", new { id = item.ProductId });
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="shop-page-product">
                <a href="@detailsUrl">
                    <img src="@Url.Content(item.ImageProduct)" class="img-responsive" />
                </a>
                <div class="text-center">
                    <a href="@detailsUrl">@item.Title</a>
                </div>
                <div class="text-center">
                    @item.Price DKK
                </div>
            </div>
        </div>
    }
</div>
@section scripts
{
    <script src="~/Scripts/FilteringForm.js"></script>
}

