@using RentingWebsite.Models
@model IEnumerable<RentingWebsite.Models.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>@Html.ActionLink("All", "Index")</p>
<p>@Html.ActionLink("Price", "Price")</p>
<p>@Html.ActionLink("Type", "Type")</p>


@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="products">
            
            @*<img src="data:image/jpg;base64,@System.Convert.ToBase64String(item.Image.ImageURL)" width="80" height="80" />

            <img src="item.ImageProduct" />

            <img src="~/Content/Images/item.Image.ImageURL" />
            <img src="~/Content/Images/item.ImageProduct" />*@
          
            <img src="@Url.Content(item.ImageProduct)" />

      
          
        </div>
     
        <div>
         

            @Html.DisplayFor(modelItem => item.Title)

            @Html.DisplayFor(modelItem => item.Details)

            @Html.DisplayFor(modelItem => item.Price)

            @Html.DisplayFor(modelItem => item.FitProduct.FitProductTitle)

            @Html.DisplayFor(modelItem => item.Image.ImageTitle)
        </div>
    

    
    </div>
   
          
      
       
}

